  h1{
    color: aliceblue;
  }

  .logo {
    animation: 
      crecer 3s ease forwards, 
      mover 0.5s ease 3s forwards;
      position: relative;

  }

  @keyframes crecer {
    0% {
      transform: scale(0.3);
    }
    100% {
      transform: scale(1);
    }

  }

  @keyframes mover {
    0% {
      transform: scale(1);
    }
    100% {
      transform: translate(-45vw, -42vh) scale(0.3);
      z-index: 3;
    }
  }

  .container-logo, .container-loader{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-logo{
    z-index: 13;
    background-color: black;
    animation: ocultarFondo 0s linear 3.5s forwards,
    desactivarClicks 0s linear 3.5s forwards;
  }



@keyframes ocultarFondo {
  to {
    background-color: transparent;
  }
}


.container-loader{
  z-index: 12;
  transition: background-color 1.5s ease;

  animation: borrafondo 0s linear 3.5s forwards,
  desactivarClicks 0s linear 3.5s forwards;
}

@keyframes borrafondo{
  to{
    background-color: transparent;
  }
}

@keyframes desactivarClicks {
  to {
    pointer-events: none;
  }
}


  .container-app{ 
    z-index: 1;
    min-height: calc(100vh - 70px);
  }

 .footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  background-color: black;
  font-size: 12px;
}

  .footer a{
    text-decoration: underline;
    cursor: pointer;
    color: white;
    margin-left: 25px;
    padding: 0px 10px;
  }

  .footer a:last-child{
    padding-right: 40px;
  }

.container-footer{
  position: fixed;
  bottom: 0;
  z-index: 6;
  height: 70px;
  width: 100%;
}